@font-face {
    font-family: 'Gilroy-Bold';
    src: url('fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('fonts/Gilroy-Regular.ttf') format('truetype');
}

:root {
    --regular-font: 'Gilroy-Regular', sans-serif;
    --bold-font: 'Gilroy-Bold', sans-serif;
    --medium-font: 'Gilroy-Medium', sans-serif;   
}

body {
    background-color: #2F362F;
}